<p>La société « Bien-Être » est une association dont le principal objectif est de promouvoir des
    services dans le domaine du bien-être.
    Elle agit en qualité d'intermédiaire entre les prestataires de services et les
    internautes.</p>
<p class="align-center"><span class="contrast">Inscrivez-vous, c’est gratuit</span></p>


<p>Dans ce site vous pourrez :</p>
<section class="row">
    <section class="six columns presentation">
        <h2>En tant que visiteur : </h2>
        <ul class="listePresentation">
            <li>Trouver un service pour votre bien être</li>
            <li>Connaitre les stages et promotions d’un prestataire</li>
            <li>Mettre en favoris un prestataire</li>
            <li>Recommander un prestataire à un ami</li>
            <li>Poster des commentaires</li>
            <li>Attribuer une cote à un prestataire</li>
        </ul>
    </section>
    <section class="six columns presentation">
        <h2>En tant que prestataire : </h2>
        <ul class="listePresentation">
            <li>Proposer vos services</li>
            <li>Fidéliser via des promotions régulières</li>
            <li>Annoncer les stages que vous organisez</li>
        </ul>
    </section>
</section>