/* Style Général du site */

:root {
    --main-color: #33C3F0;
    --lien-color: green ;
    --lien-color-hover: #8fb629;
}
@font-face {
    font-family: 'DancingScript';
    src:  url('polices/DancingScript-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Pacifico';
    src:  url('polices/Pacifico-Regular.ttf') format('truetype');
}
body {
    background-color: rgba(94, 190, 224, 0.5);
    padding: 15px;
    font-family: 'DancingScript' , sans-serif;
    font-size: 2.2rem;
}

.align-center {
    text-align: center;
}
section, main {
    margin-bottom: 2.5rem;
    padding: 5px;
}
main {
    font-size: 2.5rem;
}
ul {
    list-style-type: none;
}
a {
    color: var(--lien-color);
}
a:hover {
    color: var(--lien-color-hover);
}
.titre-general {
    font-family: 'Pacifico', sans-serif;
    /*text-decoration: underline var(--main-color);*/
    border-bottom: solid 4px var(--main-color) ;
    width: max-content;
}

/* Formulaire de recherche page HOME */
.recherche  summary {
    display: list-item;
    margin-bottom: 2.5rem;
}
.recherche  summary .titre-general {
    display: inline;

}
.recherche input[type="submit"] {
    font-size: initial;
}

/* Presentation page HOME */
.main .presentation {
    background: #F1F1F1;
    color: #000000;
    box-shadow: 0 0 15px 5px  #bbbbbb;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.8s;
}
.main .presentation:hover {
    transform: translateY(-10px);
}

.main .presentation .listePresentation li::before{
    content: "\002714";
    padding-right: 8px;
    color: green;
}
.contrast {
    background: #F1F1F1;
    color: var(--main-color);
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;

}

section , main {
    min-height: 100px;
}

.bandeau {
    background: chartreuse;
}

.identification {
    background: tomato;
}

.categorie {
    background: #8fb629;
}
.footer {
    background: palevioletred;
}


@media screen and (min-width: 360px) and (max-width: 850px){

    .titre-general {
        font-family: 'Pacifico', sans-serif;
        text-decoration: underline var(--main-color);
        border-bottom: none;
        width: auto;
    }
}