{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block main %}
    <h2 class="titre-general">A &nbsp;propos de nous </h2>
    {#                        Présentation du site #}
    {% include '_partials/_presentation.html.twig' %}

{% endblock %}
