{% extends 'base.html.twig' %}

{% block title %}Inscription Prestataire terminée {% endblock %}

{% block main %}
    <section class="row inscription">

            <h2 class="titre-general">Inscription validée</h2>
            {#    <p style="color: red;">{{ erreur ?? erreur }}</p> #}
            <p>Votre inscription est terminée </p>

    </section>
{% endblock %}
