{% extends 'base.html.twig' %}

{% block title %}Abonnez-vous à notre newsletters {% endblock %}

{% block main %}
    <h2 class="titre-general">Abonnez-vous à notre newsletters</h2>


{% endblock %}
