{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block main %}
<h2 class="titre-general">Contactez-nous</h2>
<p>Annuaire du Bien être</p>
<p>Route du soleil, 35</p>
<p>7730 Estaimpuis </p>

{% endblock %}
