{% extends 'base.html.twig' %}

{% block main %}
                {{ response }}

    {% if data is not null %}
        <ul>
            {% for key, user in data %}
                <li>{{ key }}: {{ user }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


