{% extends 'base.html.twig' %}

{% block title %}Description de la catégorie {{ categorie.nom }} {% endblock %}

 {% block main %}

     <h2 class="titre-general">Catégorie {{ categorie.nom }} </h2>
     <p> <img src="{{ categorie.photo.path }}" alt="" width="400" style="float: left; margin-right: 20px;"> {{  categorie.description  }}</p>

{% endblock %}
