{% extends 'base.html.twig' %}

{% block title %}Catégorie inexistante {% endblock %}

 {% block main %}

     <h2 class="titre-general">Catégorie inexistante </h2>
     <p> La catégorie {{ categorieInexistante }} n'existe pas.</p>
{% endblock %}
